<footer class="bs-footer" role="contentinfo">
  <div class="container">
    <div class="row">      
      <div class="col-lg-2 col-lg-offset-1 col-md-3 col-sm-4 col-xs-6">
        <ul class="footer-links">
          <h4 class="">Section One</h4>
          <li><a href="{{ page.base_url }}" track=""></a></li>
          <li><a href="{{ page.base_url }}" track=""></a></li>
          <li><a href="{{ page.base_url }}" track=""></a></li>
          <li><a href="{{ page.base_url }}" track=""></a></li>
          <li><a href="{{ page.base_url }}" track=""></a></li>
          <li><a href="{{ page.base_url }}" track=""></a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <ul class="footer-links">
          <h4 class="">Section Two</h4>
          <li><a href="{{ page.base_url }}" track=""></a></li>
          <li><a href="{{ page.base_url }}" track=""></a></li>
          <li><a href="{{ page.base_url }}" track=""></a></li>
          <li><a href="{{ page.base_url }}" track=""></a></li>
          <li><a href="{{ page.base_url }}" track=""></a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <ul class="footer-links">
          <h4 class="">Section 3</h4>
          <li><a href="{{ page.base_url }}" track=""></a></li>
          <li><a href="{{ page.base_url }}" track=""></a></li>
          <li><a href="{{ page.base_url }}" track=""></a></li>
          <li><a href="{{ page.base_url }}" track=""></a></li>
          <li><a href="{{ page.base_url }}" track=""></a></li>
        </ul>
      </div>
          <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
        <ul class="footer-links">
          <h4 class="">Section 4</h4>
          <li><a href="{{ page.base_url }}" track=""></a></li>
          <li><a href="{{ page.base_url }}" track=""></a></li>
          <li><a href="{{ page.base_url }}" track=""></a></li>
          <li><a href="{{ page.base_url }}" track=""></a></li>
          <li><a href="{{ page.base_url }}" track=""></a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
        {% include social-buttons.html %}
      </div> 
    </div>  
  </div>  
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


